/*----GENERAL STYLES----*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding: 3vh;
}

h3 {
    padding: 3vh 0;
    font-size: 1.25rem;
}

/*h4 {
    padding: 3vh 0;
}*/

/*.wrapper {
    padding: 10vh 15px 2vh;
}*/

.jumbotron, .alert {
    text-align: center;
}

.btn {
    margin-top: 10px;
    
}

section > .container {
    padding-top: 10vh;
}

/*----NAVBAR----*/

.navbar {
    background-color: white;

}

.flagImg {
    height: 20px;
    width: 30px;
}

/*----changing size so the logo is in the same line as the menu on mobile----*/

.navbar-brand {
    width: 50%;
}



/*----HOMEPAGE----*/
#home {
    margin: 10vh 0 0 0;
    padding: 0;
    max-width: 100vw;

}
#hero {
    padding-bottom: 5vh;
    margin-bottom: 0;
    height: 83vh;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-color:rgba(248, 248, 215, 0.7);
    font-family: 'Signika Negative', sans-serif;
    
}

#heroCont > * {
    margin: 5vh 0;
}

#whyUs .col-2 {
    text-align: center;
    padding: 4vh 0 4vh 4vw;
}

#whyUs .col-10 {
    padding: 0 0 0 7vh;
}

#whyUs h3 {
    text-align: center;
}

/*----ABOUT----*/


#company {
    padding-bottom: 5vh;
}
#interiorImg {
    padding-bottom: 7vh;
}

/*----SERVICES----*/
#services {
    max-width: 90%;
}
.flipCardRotate {
    height: 100%;
    padding: 5px;
   
}

.cards h4, #services .btn {
    margin: 0;
    padding: 0;
}


.cards > div {
    margin-bottom: 3vh;
}
.flipCardContent {
    padding: 0 15px;
}
.flipCardContent .col-12 {
    padding: 0;
    
}
/*
.flipCardRotate div {
    margin-bottom: 1vh;
}


#services {
    margin: 0;
}

#services .btn {
    padding: 3px 3px;
}

.sButton {
    text-align: center;
    height: 66.36px;
    
}

.bookBtn {
    /*padding-right: 1vw;*/
    
}
/*
.moreBtn {
    padding-left: .5vw;
   

}

.flipCardRotate {
    padding: 1em;
    
}

.flipCardContent {
    position: relative;
    padding-bottom: 10vh;
}

.sButton {
    position: absolute;
    bottom: 1vh;
}
.moreBtn {
    right: 0;
} */


}
/*----WHAT TO EXPECT----*/

#before, #during, #before  ul {
    margin-bottom: 40px;
}


#stages {
    text-align: center;
    margin-top: 30px;
}

#time {
    font-size: .75rem;
}

#anxietyReduction {
    margin: 40px 0;
}

#anxietyReduction > div {
    margin-bottom: 20px;
}

/*----FOR GP SURGERIES AND COMPANIES----*/

#download > div {
    padding: 0;
    margin-bottom: 10px;
}

#files {
    margin-top: 40px;
}

/*----PRICING----*/

#categories h4 {
    font-size: 1.25rem;
}


#categories #textPrice {
    font-size: .75rem;
}

/*----CONTACT----*/

#location > .col-12 {
    padding-bottom: 25px;
    text-align: center;
}

iframe {
    border: none;
}
 #submit {
     text-align: center;
 }

/*----FOOTER----*/


#fAddress {
    font-size: 9px;
    padding-top: 10px;
}


#icons>div {
    padding: 0;
    width: 20px;
}
/*----MEDIA----*/


@media (min-width: 768px) {
/*--------------------navbar for tablets and bigger---------------*/
    .navbar-brand {
        width: 25%;
        margin: 0 10vw 0 0;
    }

    .nav-item {
        padding: 0 .2vw;
    }


#reviewsBox,
#fstars {
    text-align: center;
}






/*
.flipCardContent {
    height: 400px;
}

.flipCardCover > h4 {
    padding: .5vh 0;
}*/

}



@media (min-width: 1200px) {

    .navbar > * {
        padding: 0 10px;
    }

    
    


/*--------------------flipcards for desktop---------------*/
    .flipCardRotate {
        position: relative;
        transition: transform 0.7s;
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .flipCardRotate:hover {
        transform: rotateY(180deg);
    }

    .flipCardCover,
    .flipCardContent {
        backface-visibility: hidden;
    }

    .flipCardContent {
        position: relative;
        transform: rotateY(180deg);
    }

    .flipCardCover {
        position: absolute;
        top: 75px;
        /*text-align: center;*/
        /*height: 100%;
        width: 100%;*/
    }
/*
    .flipCardContent .col-10 {
        padding-left: 30px;
    }


    .sButton {
        position: static;
        
}

.flipCardRotate {
    height: 100%;
   
}

.flipCardContent {
    height: 230px;
}*/
}

/*------------------------------------------------------------*/