/*----changing size so the logo is in the same line as the menu on mobile----*/

.navbar-brand {
    width: 50%;
    height: 50%;
}

/*-----------------------------------------------------------------------------*/
.navbar {
    background-color: white;
}

.flagImg {
    height: 20px;
    width: 30px;
}

#home {
    margin: 5rem 0 0 0;
    padding: 0;
    max-width: 100%;

}

#servicesCont {
    max-width: 90%;
}

#services {
    margin: 0;
}

.jumbotron {
    height: 90%;
}
/*--------------------flipcards for desktop---------------*/
@media (min-width: 1200px) {

    .flipCardRotate {
        position: relative;
        transition: transform 0.7s;
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .flipCard:hover .flipCardRotate {
        transform: rotateY(180deg);
    }

    .flipCardCover,
    .flipCardContent {
        backface-visibility: hidden;
    }

    .flipCardContent {
        position: relative;
        transform: rotateY(180deg);
    }

    .flipCardCover {
        position: absolute;
        top: 75px;
        text-align: center;
    }
}

/*------------------------------------------------------------*/
#services .btn {
    padding: 3px 3px;
}