/*----GENERAL STYLES----*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding: 3vh;
}

h3 {
    padding: 3vh 0;
    font-size: 1.25rem;
}

h4 {
    padding: 3vh 0;
}

.wrapper {
    padding: 10vh 15px 2vh;
}

.jumbotron {
    text-align: center;
}

/*----NAVBAR----*/

.navbar {
    background-color: white;

}

.flagImg {
    height: 20px;
    width: 30px;
}

/*----changing size so the logo is in the same line as the menu on mobile----*/

.navbar-brand {
    width: 50%;
}



/*----HOMEPAGE----*/
#home {
    margin: 10vh 0 0 0;
    padding: 0;
    max-width: 100vw;

}
#hero {
    padding-bottom: 5vh;
    margin-bottom: 0;
    height: 83vh;
    background-image: url(/assets/images/hero.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-color:rgba(248, 248, 215, 0.7);
    font-family: 'Signika Negative', sans-serif;
    
}

#heroCont > * {
    margin: 5vh 0;
}

#whyUs .col-2 {
    text-align: center;
    padding: 4vh 0 4vh 4vw;
}

#whyUs .col-10 {
    padding: 0 0 0 7vh;
}

#whyUs h3 {
    text-align: center;
}

/*----ABOUT----*/

#company {
    padding-bottom: 5vh;
}
#interiorImg {
    padding-bottom: 7vh;
}

/*----SERVICES----*/

#servicesCont {
    max-width: 90%;
}

.cards > div {
    margin-bottom: 3vh;
}

.flipCardRotate div {
    margin-bottom: 1vh;
}

.flipCardRotate .col-10 {
    padding: 0 0 0 20px;
}
#services {
    margin: 0;
}

#services .btn {
    padding: 3px 3px;
}

/*----WHAT TO EXPECT----*/

#before, #during, #before  ul {
    margin-bottom: 40px;
}


#stages {
    text-align: center;
    margin-top: 30px;
}

#time {
    font-size: .75rem;
}

#anxietyReduction {
    margin: 40px 0;
}

#anxietyReduction > div {
    margin-bottom: 20px;
}

/*----FOR GP SURGERIES AND COMPANIES----*/

#download > div {
    padding: 0;
    margin-bottom: 10px;
}

#files {
    margin-top: 40px;
}

#fcols div {
    padding: 0 5px;
}

#fAddress,
#freviews {
    font-size: 9px;
}


#reviewsBox,
#fstars {
    text-align: center;
}

#icons>div {
    padding: 0;
    width: 20px;
}

/*--------------------navbar desktop---------------*/
@media (min-width: 768px) {
    .navbar-brand {
        width: 25%;
        margin: 0 10vw 0 0;
    }

    .nav-item {
        padding: 0 .2vw;
    }
}

@media (min-width: 1200px) {

    .navbar > * {
        padding: 0 10px;
    }

    


/*--------------------flipcards for desktop---------------*/
    .flipCardRotate {
        position: relative;
        transition: transform 0.7s;
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .flipCard:hover .flipCardRotate {
        transform: rotateY(180deg);
    }

    .flipCardCover,
    .flipCardContent {
        backface-visibility: hidden;
    }

    .flipCardContent {
        position: relative;
        transform: rotateY(180deg);
    }

    .flipCardCover {
        position: absolute;
        top: 75px;
        text-align: center;
    }

}


/*------------------------------------------------------------*/